<style scoped>
    #app{
        margin-top: 20.5rem;
        height:200%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
<div id="app">
    <h1>Hello <span><%= model.user ? model.user.username : '' %></span> 顺带下呗~</h1>
    <div id="divimg"></div>
</div>
<script>
    layui.use('jquery', function() {
        var $ = layui.jquery;
        
        getcaptcha();

        function getcaptcha() {
            $.get('/login/captcha', function(data) {
                $('#divimg').html(data);
            })
        }

        $("#divimg").on("click", function() {
            getcaptcha();
        })
    });
</script>